<html>
<head>
  <title>Shortly</title>
  <script src="lib/angular.min.js"></script>
  <script src="/client/app.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
  <body ng-app="shortly">
    <div id='pageNav'>
      <a href = '/'>Links</a>
      <a href = '#/create'>Create Link</a>
    </div>
    <div id="container" ng-view>
    </div>
  </body>
</html>